/*
                                 ////
                                ////
                               ////
                      *********************
                   ***************************
                 ******** ************* ********
                ********   ***********   ********
               ********     *********     ********
              *************************************
              *************************************
              *************************************
               ******     ***       ***     ******
                ******    ***  ***  ***    ******
                 ******        ***        ******
                   ***************************
                      *********************

                        Main CSS - Yanis
*/

body {
    background-color: #FFF5EE;
    width:100%;
    margin:0;
}

/* CSS-en under blir bare kjørt dersom device width er over 650px (PC) */

@media only screen and (min-width: 650px) {
    nav {
        background-color:red;
        height:100vh;
        width:15%;
        float:left;
    }
}

/* CSS-en under blir bare kjørt dersom device width er under 650px (mobil) */

@media only screen and (max-width: 650px) {
    nav {
        background-color:pink;
        height:150px;
        width:100%;
        float:left;
    }
}