/*
                                 ////
                                ////
                               ////
                      *********************
                   ***************************
                 ******** ************* ********
                ********   ***********   ********
               ********     *********     ********
              *************************************
              *************************************
              *************************************
               ******     ***       ***     ******
                ******    ***  ***  ***    ******
                 ******        ***        ******
                   ***************************
                      *********************

                        Main CSS - Yanis
*/
* {
    margin: 0;
}
body {
    background-color: #FFF5EE;
    width:100%;
    margin:0;

}
#Contentwrapper{
    margin-top: 2em;
}

#Logo {
        display:none;
}
#Language{
    max-height: 4em;
    top:0;
    position: fixed;
    right: 0;

}
h1{
    text-align: center;
    font-family: Verdana;
    font-weight: bold;

}
p{
    margin-top: 2em;
    color: white; 
    text-shadow: 0px 0px 2px black;
    word-spacing: 10px;
}
.VerticalApp img{
    width: 2em;
    height: 2em;
}
.VerticalImg a img{
    width: 80%;
}
.Vertical{
    width: 30%;
    margin-top: 2em;
}
#Follow{
    width: 20em;
    display: inline-block;
}
.SocialIcon {
    margin: 3px;
    display: inline-block;
    width: 3em;
    
}

/* CSS-en under blir bare kjørt dersom device width er over 650px (PC) */

@media only screen and (min-width: 650px) {
    nav {
        background-color:lightblue;
        height:100%;
        width:15%;
        float:left;
        max-width:80px;
        position: fixed;
        top: 0;
        margin-right: 20px;
        opacity: 0.8;
    }
    nav a:link, a:visited {
        text-decoration: none;
        color: black;
    }
    nav h1{
        text-align: center;
        font-size: 16px;
        margin: 30% 10% 0% 10%;
    }
    #Contentwrapper{
        margin:0% 10% 0% 20%;

    }
    #Button1 {
        height:10vh;
        width:100%;
        background-color:blue;
        margin:0;
        overflow:hidden;
    }
    #Button2 {
        height:10vh;
        width:100%;
        background-color:red;
        margin:0;
        overflow:hidden;
    }
    #Button3 {
        height:10vh;
        width:100%;
        background-color:green;
        margin:0;
        overflow:hidden;
    }
    #Verticals{
        display:flex;
        align-items: center;
    }
    }

}

/* CSS-en under blir bare kjørt dersom device width er under 650px (mobil) */

@media only screen and (max-width: 650px) {
    nav {
        background-color: #E9EBEE;
        height:70px;
        width:100%;
        float:left;
        overflow:hidden;
        position:fixed;
<<<<<<< HEAD
    }   
=======
    }
>>>>>>> origin/master

    #Button1 {
        height:100%;
        width:50px;
        background-color:blue;
        margin:0;
        overflow:hidden;
        float:left;
    }
    #Button2 {
        height:100%;
        width:50px;
        background-color:red;
        margin:0;
        overflow:hidden;
        float:left;
    }
    #Button3 {
        height:100%;
        width:50px;
        background-color:green;
        margin:0;
        overflow:hidden;
        float:left;
    }
    #Logo {
        display:block;
        height:70px;
        float:right;
    }
       #Language{
    height: 1em;
    top: 0;

}

}
