* {
    margin: 0;
}
body {
    background-color:#F7F7F7;
    margin:0;
    width: 100%;
}

nav {
    background-color:#cccbc9;
    height:5em;
    width:100%;
    float:left;
    position: fixed;
    top: 0;
    margin-right: 20px;
    display: inline-block;
    overflow:hidden;
}

nav div {
  margin: 0;
}

a{
    text-decoration: none;
    color: black;
    }
nav img{
    height: 5em;
}

nav h1{
    text-align: center;
    font-size: 16px;
    padding: 10px 10px 0 10px;
    margin-top: 12%;

}
#Logo{
margin-top: 5.3em;
}
#Logo img {
    
    width: 12em;
    display: block;
    margin: 0 auto; 
}
#Dropdown  div{
        float: left;
        width: 10em;
        height:5em;
    }
#Button1{
    background-color: #33ff33;
}
#Button2{
    background-color: orange;
}
#Button3{
    background-color: #6666ff;
}
h1{
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
    font-size: 16px;
}

p{
    margin-top: 2em;
    color: black;
    margin: 10px;
}
#Content{
    background-color: #F7F7F7;
}
.app{
    float: left;
    overflow:auto;
    width: 100%;
    height: auto;
}
.app div{
    margin: 20px;
    margin-bottom:5px;
}
#lang{
    background-color:#ff3f3f;
}
.Language{
        float: right;
}
.Language img{
    float: right;
    width: 7.5em;
    z-index: -1;
    position: relative;
    left: 0;
    top: 0;
}
.Language h5{
    color: white;
    float: right;
    font-size: 20px;
    margin-top: 55px;
    z-index: 2;
    position: relative;
    left: 82px; 
    }
#bokstav{
    background-color:#1b63e8;
}
#bil{
    background-color:#11c625;
   
}
.text{
    display: inline-block;
    height: auto;
    width: auto;
    background-color: white;
}
.screenshot{
    float: right;
}
.screenshot img{
    width: 400px;
    height: auto;
}
#store{
    margin-bottom:20px;
}
#store img{
    width: auto;
    height: 90px;
    float: left;
}

#Follow{
    width: 20em;
    display: inline-block;
}

.SocialIcon {
    margin: 3px;
    display: inline-block;
    width: 3em;
}
#footer{
    float:left;
    background-color: #1F1F1F;
    width: 100%;
    height:auto;
    padding: 1em ;
}
#Follow {
    background-color: #eae8ff;
    width:auto;
    height:auto;
    margin-top:auto;
    margin-bottom:auto;
    float:right;
    border-radius: 20px;
    padding:10px;
    font-family: Verdana;
}
#About {
    bottom:0;
    float:left;
    font-family: Verdana;
    vertical-align: middle;
    margin-left:20px;
    margin-top:80px;
}
#About p{
    color: #ffffff;
    vertical-align: middle;
}
#About a{
    color: lightblue;
}

#Button1:hover {
    transform:rotate(5deg);
}

#Button2:hover {
    transform:rotate(-5deg);
}

#Button3:hover {
    transform:rotate(5deg);
}

/* CSS-en under blir bare kjørt dersom device width er over 650px (PC) */

@media only screen and (min-width: 650px) {
    #Verticals{
        display:flex;
        align-items: center;
    }

/* CSS-en under blir bare kjørt dersom device width er under 650px (mobil) */

@media only screen and (max-width: 650px) {
    #Logo {

    }

}
