* {
    margin: 0;
}
body {
    background-color: #FFF5EE;
    width:100%;
    margin:0;
}

nav {
    background-color:darkblue;
    height: 40px;
    width:100%;
    float:left;
    position: fixed;
    top: 0;
    margin-right: 20px;
    display: inline-block;
}

nav a {

}

#Logo {
        display:none;
}

#Language{
    height: 100%;
        float: right

}
h1{
    text-align: center;
    font-family: Verdana;
    font-weight: bold;

}

p{
    margin-top: 2em;
    color: white;
    text-shadow: 0px 0px 2px black;
    word-spacing: 10px;
}

.app{
    display: block;
}

#downloads{
    float: left;
}

#screen{
    display: inline-block;
}

.store a img{
    width: 2em;
    height: auto;
}

.VerticalApp img{
    width: 2em;
    height: 2em;
}

.VerticalImg a img{
    width: 80%;
}

.Vertical{
    width: 30%;
    margin-top: 2em;
}

#Follow{
    width: 20em;
    display: inline-block;
}

.SocialIcon {
    margin: 3px;
    display: inline-block;
    width: 3em;
}

/* CSS-en under blir bare kjørt dersom device width er under 650px (mobil) */

@media only screen and (max-width: 650px) {
    nav {
        background-color: #E9EBEE;
        height:70px;
        width:100%;
        float:left;
        overflow:hidden;
        position:fixed;
    }

    #Button1 {
        height:100%;
        width:50px;
        background-color:blue;
        margin:0;
        overflow:hidden;
        float:left;
    }
    #Button2 {
        height:100%;
        width:50px;
        background-color:red;
        margin:0;
        overflow:hidden;
        float:left;
    }
    #Button3 {
        background-color:green;

    }
    #Logo {
        display:block;
        height:70px;
        float:right;
    }
       #Language{
    height: 1em;
    top: 0;

}

}
